body{
  font-family: 'Noto Sans', sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    align-items: center;
}
.main_header{
    transition: transform 0.6s ease;
}
.input{
    display: block;
    width: 700px;
    height: 200px;
    margin: 0 auto;
    padding: 15px;
    font-size: 18px;
    color: #444444;
    border-radius: 10px;
    resize: none;
letter-spacing: 1px;
color: black;
border: 1px solid #0b1d23;
box-shadow: 4px 4px 15px -4px rgba(34, 60, 80, 0.4);
outline: none;
background: rgb(228,228,228);
background: linear-gradient(90deg, rgba(228,228,228,0.5) 15%, rgba(198,198,198,0.5) 51%, rgba(186,186,186,0.5) 96%);
}
.input::selection{
 color: rgb(255, 255, 255);
 background-color: #194250;
}
.input::-webkit-scrollbar {
    width: 8px;

  }
  .input::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    height: 20px;
  }
  .input::-webkit-scrollbar-thumb {
    background: linear-gradient(white,rgb(97, 97, 97),white);
    border-radius: 10px;
    height: 20px;
  }
  .input::-webkit-scrollbar-thumb:hover {
    background:linear-gradient(white,rgb(34, 34, 34),white);
    cursor: pointer;
  }
  textarea {
    cursor: auto;

}
.keyboard{
    width: 820px;
    background: #4e4e4e;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border-radius: 10px;
    padding: 8px;
margin: 10px;
}
.row{
  display: flex;
  flex-wrap: nowrap;
  column-gap: 3px;
  justify-content: space-between;
  padding: 5px;
  height: 50px;
  align-items: center;
}
.key{
  border-radius: 3px;
  background-color: aliceblue;
  color: #0b1d23;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
 min-height: 40px;
 padding: 0 5px;
  transition: all 0.2s ease;

  cursor: pointer;
  -webkit-box-shadow: 16px 10px 13px -1px rgba(14, 24, 32, 0.6);
-moz-box-shadow: 16px 10px 13px -1px rgba(18, 32, 43, 0.6);
box-shadow: 16px 10px 13px -1px rgba(15, 26, 34, 0.6);
}
.hov{
  background-color: rgb(153, 153, 153);
  cursor: pointer;
}
.active-key{
margin-top: 5px;

background-color: rgb(212, 209, 209);
color: #10252c;

  filter: saturate(1);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none
}
.Space{
  width: 240px;
}

.hidden{
  display: none;
}
.alt-symbol{
  right: 0;
  font-size: 10px;
}
.info{
padding-top: 20px;
  font-size: 32px;

  text-align: center;
}

.ShiftLeft{
  width: 80px;
}
.ShiftRight{
  width: 120px;
}
.ControlLeft{
  width: 50px;
}
.ControlRight{
  width: 50px;
}
.AltLeft{
  width: 50px;
}
.AltRight{
  width: 50px;
}
.MetaLeft{
  width: 60px;
}